:root {
    font-family: '\5FAE\8F6F\96C5\9ED1', Tahoma, SimSun, Verdana;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: baseline;
    -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
  }
  a {
    font-weight: 500;
    color: #fff;
    text-decoration: inherit;
  }
  body {
    margin: 0;
    line-height: 1;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  /* remï¼Œvwï¼Œvhä½¿ç”¨æ³¨æ„ 
  
  1ã€IE9åŠä»¥ä¸Šæ”¯æŒremï¼Œä½†9-10ä¼ªç±»ä¸æ”¯æŒrem
  2ã€iOS8åŠä»¥ä¸Šå…¨çº¿æ”¯æŒvw, vh, vmin, vmax
  3ã€IE9åŠä»¥ä¸Šæ”¯æŒvwï¼Œvhï¼Œä¸æ”¯æŒvmaxï¼Œvmin
  4ã€Android4.4ä»¥ä¸Šå…¨çº¿æ”¯æŒ
  
  */
  /* --- 1920*1080 è®¾è®¡ç¨¿åŸºå‡†é€‚é… start --- */
  /* 1920å®½æ—¶ 100vw=100px -> 1vw=1.0416667px -> 5.208333vw=100px */
  html {
    font-size: 5.208333vw;
  }
  /* --- 1920*1080 è®¾è®¡ç¨¿åŸºå‡†é€‚é… end --- */
  /* --- padç«¯ï¼Œè®¾è®¡ç¨¿1920pxå¯¹åº”100vwï¼Œå€çŽ‡100 start --- */
  /* --- PCç«¯ï¼Œè®¾è®¡ç¨¿1920pxå¯¹åº”100vwï¼Œå€çŽ‡100 start --- */
  @media screen and (min-width: 1024px) {
    html {
      font-size: 5.208333vw;
    }
  }
  @media screen and (min-width: 1024px) {
    .active_js {
      cursor: pointer;
    }
    .active_js:hover {
      -webkit-filter: brightness(1.1);
              filter: brightness(1.1);
    }
  }
  /* --- PCç«¯ï¼Œè®¾è®¡ç¨¿1920pxå¯¹åº”100vwï¼Œå€çŽ‡100 end --- */
  @media screen and (max-device-width: 1024px) {
    html {
      font-size: 0.5rem;
      font-size: 13.333vw;
    }
  }
  .m_horizontal {
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .m_horizontal .m_wrap {
    position: relative;
    overflow: hidden;
    width: 100vh;
    height: 100vw;
  }
  @media all and (orientation: landscape) {
    html .m_horizontal {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    html .m_horizontal .m_wrap {
      width: 100vw;
      height: 100vh;
    }
  }
  .hide {
    display: none;
  }
  .full {
    width: 100%;
    height: 100%;
  }
  .abs {
    position: absolute;
  }
  .l0 {
    left: 0;
  }
  .t0 {
    top: 0;
  }
  .lhalf {
    left: 50%;
  }
  .thalf {
    top: 50%;
  }
  .absf {
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .abcter {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .lcter {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  .tcter {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  .fcter {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .fdc {
    flex-direction: column;
  }
  .sizcont {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  .sizcover {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .ol {
    border: 0.01rem solid #fff;
    -o-border-image: linear-gradient(to top, #f80, #2ed);
       border-image: linear-gradient(to top, #f80, #2ed);
    border-image-slice: 10;
    box-sizing: border-box;
  }
  .active-center {
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    cursor: pointer;
  }
  .active-center:hover {
    -webkit-transform: translate(-50%, -50%) scale(1.1);
            transform: translate(-50%, -50%) scale(1.1);
  }
  .active-center:active {
    -webkit-transform: translate(-50%, -50%) scale(1.1);
            transform: translate(-50%, -50%) scale(1.1);
  }
  .active {
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    cursor: pointer;
  }
  .active:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .active:active {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  .m-icon-loading {
    position: fixed;
    z-index: 999;
  }
  .m-icon-loading .inner {
    width: 1.2rem;
    height: 1.2rem;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 0.1rem;
  }
  .m-icon-loading .inner svg path,
  .m-icon-loading .inner svg rect {
    fill: #fff;
  }
  .m-msg {
    display: none;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: all;
    background-color: rgba(0, 0, 0, 0.45);
    z-index: 10000;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  .m-msg .container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .m-msg .item {
    position: relative;
    max-width: 5.3rem;
    min-width: 2.3rem;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 0.5rem;
    font-size: 0.23rem;
    line-height: 1;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.25rem;
    opacity: 0.4;
    -webkit-animation: msgIn 0.2s ease-in both;
            animation: msgIn 0.2s ease-in both;
  }
  .m-msg .item .content {
    padding: 0.2rem 0.33rem;
  }
  .m-msg .item i {
    color: #ffc039;
  }
  .m-msg .item::after {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    color: #fff;
    width: 100%;
    text-align: center;
    font-size: 0.16rem;
    content: "ç‚¹å‡»ä»»æ„ä½ç½®ç»§ç»­";
    bottom: -0.15rem;
  }
  .m-msg .item.notips::after {
    display: none;
  }
  @-webkit-keyframes msgIn {
    0% {
      opacity: 0.4;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(-0.1rem);
              transform: translateY(-0.1rem);
    }
  }
  @keyframes msgIn {
    0% {
      opacity: 0.4;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(-0.1rem);
              transform: translateY(-0.1rem);
    }
  }
  .pop_common {
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 200;
    -webkit-perspective: 10rem;
            perspective: 10rem;
    position: fixed;
  }
  .pop_common .container {
    -webkit-transform-origin: center bottom;
            transform-origin: center bottom;
    -webkit-animation: cardFlipIn 0.6s 0.3s cubic-bezier(0.25, 1.47, 0.6, 0.99) both;
            animation: cardFlipIn 0.6s 0.3s cubic-bezier(0.25, 1.47, 0.6, 0.99) both;
  }
  .btn {
    cursor: pointer;
  }
  input {
    outline: none;
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 0.2rem;
    line-height: 0.25rem;
  }
  @-webkit-keyframes cardFlipIn {
    from {
      opacity: 0.1;
      -webkit-transform: translate(-50%, 0%) rotate3d(-0.3, 0, 0, 30deg);
              transform: translate(-50%, 0%) rotate3d(-0.3, 0, 0, 30deg);
    }
  }
  @keyframes cardFlipIn {
    from {
      opacity: 0.1;
      -webkit-transform: translate(-50%, 0%) rotate3d(-0.3, 0, 0, 30deg);
              transform: translate(-50%, 0%) rotate3d(-0.3, 0, 0, 30deg);
    }
  }
  @-webkit-keyframes opacityChange {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes opacityChange {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-webkit-keyframes widthChange {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
  @keyframes widthChange {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
  @-webkit-keyframes opacityChange2 {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 2;
    }
  }
  @keyframes opacityChange2 {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 2;
    }
  }
  @-webkit-keyframes floatUp {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-0.1rem);
              transform: translateY(-0.1rem);
    }
  }
  @keyframes floatUp {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-0.1rem);
              transform: translateY(-0.1rem);
    }
  }
  @-webkit-keyframes floatUp5 {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-0.05rem);
              transform: translateY(-0.05rem);
    }
  }
  @keyframes floatUp5 {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-0.05rem);
              transform: translateY(-0.05rem);
    }
  }
  @-webkit-keyframes downIn {
    0% {
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes downIn {
    0% {
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @-webkit-keyframes upIn {
    0% {
      -webkit-transform: translateY(100%);
              transform: translateY(100%);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
      opacity: 1;
    }
  }
  @keyframes upIn {
    0% {
      -webkit-transform: translateY(100%);
              transform: translateY(100%);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
      opacity: 1;
    }
  }
  @-webkit-keyframes upIn1 {
    0% {
      -webkit-transform: translateY(1%);
              transform: translateY(1%);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
      opacity: 1;
    }
  }
  @keyframes upIn1 {
    0% {
      -webkit-transform: translateY(1%);
              transform: translateY(1%);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
      opacity: 1;
    }
  }
  @-webkit-keyframes upIn5 {
    0% {
      -webkit-transform: translateY(5%);
              transform: translateY(5%);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
      opacity: 1;
    }
  }
  @keyframes upIn5 {
    0% {
      -webkit-transform: translateY(5%);
              transform: translateY(5%);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
      opacity: 1;
    }
  }
  @-webkit-keyframes upIn2 {
    0% {
      -webkit-transform: translateY(10%);
              transform: translateY(10%);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
      opacity: 1;
    }
  }
  @keyframes upIn2 {
    0% {
      -webkit-transform: translateY(10%);
              transform: translateY(10%);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
      opacity: 1;
    }
  }
  @-webkit-keyframes upIn20 {
    0% {
      -webkit-transform: translateY(20%);
              transform: translateY(20%);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
      opacity: 1;
    }
  }
  @keyframes upIn20 {
    0% {
      -webkit-transform: translateY(20%);
              transform: translateY(20%);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
      opacity: 1;
    }
  }
  @-webkit-keyframes abcUpIn1 {
    0% {
      -webkit-transform: translate(-50%, -40%);
              transform: translate(-50%, -40%);
      opacity: 0;
    }
    100% {
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      opacity: 1;
    }
  }
  @keyframes abcUpIn1 {
    0% {
      -webkit-transform: translate(-50%, -40%);
              transform: translate(-50%, -40%);
      opacity: 0;
    }
    100% {
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      opacity: 1;
    }
  }
  @-webkit-keyframes lcUpIn {
    0% {
      -webkit-transform: translate(-50%, 10%);
              transform: translate(-50%, 10%);
      opacity: 0;
    }
    100% {
      -webkit-transform: translate(-50%, 0%);
              transform: translate(-50%, 0%);
      opacity: 1;
    }
  }
  @keyframes lcUpIn {
    0% {
      -webkit-transform: translate(-50%, 10%);
              transform: translate(-50%, 10%);
      opacity: 0;
    }
    100% {
      -webkit-transform: translate(-50%, 0%);
              transform: translate(-50%, 0%);
      opacity: 1;
    }
  }
  @-webkit-keyframes leftIn {
    0% {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes leftIn {
    0% {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @-webkit-keyframes leftIn2 {
    0% {
      -webkit-transform: translateX(20%);
              transform: translateX(20%);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes leftIn2 {
    0% {
      -webkit-transform: translateX(20%);
              transform: translateX(20%);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @-webkit-keyframes rightIn {
    0% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes rightIn {
    0% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @-webkit-keyframes rightIn50 {
    0% {
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes rightIn50 {
    0% {
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @-webkit-keyframes downIn2 {
    0% {
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes downIn2 {
    0% {
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @font-face {
    font-family: text_s;
    src: url('../static/text_s.ttf');
  }
  @font-face {
    font-family: text_bold;
    src: url('../static/text_bold.ttf');
  }
  .text_bold {
    font-family: 'text_bold';
  }
  .text {
    font-family: 'text';
  }
  .text_s {
    font-family: 'text_s';
  }
  body {
    background-color: #ccc;
    font-size: 0.25rem;
    font-family: 'text';
  }
  body::-scrollbar {
    display: none !important;
  }
  .mobile {
    display: none !important;
  }

  .line {
    background-size: 13.6rem auto !important;
    width: 0;
  }
  .btn {
    cursor: pointer;
  }
  .btn-back-home {
    display: block;
    top: 0rem;
    width: 1.9rem;
    height: 0.55rem;
    background: url('../static/btn_backHome.png') center / contain no-repeat;
    position: absolute;
    right: 0.5rem;
    top: 0.33rem;
    z-index: 2;
  }
  .part1-content{
    display: block;
    
  }

  @media screen and (max-device-width: 1024px) {
    .pc {
      display: none !important;
    }
    
    .mobile {
      display: block !important;
    }
    .scroll-down .pub-nav .nav-list {
      opacity: 0 !important;
      -webkit-transform: translateY(-1rem) !important;
              transform: translateY(-1rem) !important;
    }
    .scroll-up .pub-nav .nav-list {
      opacity: 1 !important;
      -webkit-transform: translateY(0rem) !important;
              transform: translateY(0rem) !important;
    }
    .ani1 .pub-nav .nav-list {
      opacity: 0 !important;
    }
    .btn-back-home {
      width: 1.47rem;
      height: 0.41rem;
      background: url('../static/m/btn_backHome.png') center / contain no-repeat;
      right: 0.25rem;
      top: 0.17rem;
    }
  }